{% extends "base.html" %}
{% block conteudo %}

    <div class="Container">

        <style>
            body{
                background-image: url(../static/fundo2.png);
            }
        </style>



        <h2>Entre em contato</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <hr>
        
                <div class="mail">
                    <label>Seu e-mail:</label><br>
                    <input type="email" name="email" id="email">
                </div>

                

                <div class="ass"> 
                    <label>Assunto:</label><br>
                    <input type="text" name="Assunto" id="Assunto">
                </div>

                <div class="desc">
                    <label>Descrição:</label><br>
                    <textarea placeholder="Digite sua mensagem"></textarea>
                </div>
        
        <!-- <style>
            body{
                background-image: url(Imagens/fundo2.png);
            }
        </style>


        <h2>Entre em contato</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <hr>
        
        <form>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="email"><strong>Seu e-mail:</strong></label><br>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="campo"> 
                    <label for="ass"><strong>Assunto:</strong></label><br>
                    <input type="text" name="Assunto" id="Assunto" required>
                </div>

                <div class="campo">
                    <label for="desc"><strong>Descrição:</strong></label><br>
                    <textarea name="desc" id="desc" required></textarea>
                </div>
            </fieldset>

            <div class="gra">
                <label><strong>Você Já tem graduação?</strong></label><br>
                <label>
                    <input type="radio" name="devweb" value="Sim">Sim
                </label>
                <label>
                    <input type="radio" name="devweb" value="Não" checked>Não
                </label>
            </div>

            <div class="sel">
                <label for="escolha"><strong>Selecione a opção de interesse</strong></label><br>
                <select id="escolha">
                    <option selected disabled value="">Selecione</option>
                    <option>Tecnólogo</option>
                    <option>Graduação</option>
                    <option>Pós-Graduação</option>
                </select>
            </div>
            <button type="submit" class="bot">Enviar</button>
      
        </form>
    
    </div> -->

{% endblock %}