
{% extends "base.html" %}
{% block conteudo %}

    <div class="Container">

        <style>
            body{
                background-image: url(../static/fundo2.png);
            }
        </style>

        <!-- <div class="logo"><img src="Imagens/logo.png"></div> -->

        <h2 class="quem">Quem somos</h2>

        <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Suscipit aspernatur iure deserunt ad laboriosam. Minima nemo iure omnis eligendi doloremque fugiat delectus sunt reiciendis veniam quia consectetur, quod molestias incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatibus totam dignissimos est. Eum soluta eveniet ad doloribus esse odio quo vel hic officia, eaque dolor distinctio pariatur nisi repellat?</p>

        <h2 class="motivos">5 motivos para estudar</h2>

        <p class="motivoss">
           1. Material sempre atualizado<br>
           2. Tablets em sala de aula<br>
           3. Professores renomados<br>
           4. Universidade bem avaliada<br>
           5. Ótima localização
        </p>

        <hr>

        <h2 class="objetivos">Objetivos</h2>

        <p class="objetivo">Lorem <b>ipsum dolor</b> 
            sit amet, consectetur adipisicing elit. Magnam harum, optio doloremque reiciendis veritatis totam sequi nam laboriosam distinctio, dolores culpa nemo temporibus? Maxime, nisi perferendis laudantium ad natus neque! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum obcaecati hic enim cum voluptates, quidem tenetur quasi? Itaque rem, repudiandae, voluptas deleniti totam aperiam harum, eius exercitationem praesentium possimus iste.
        </p>


    </div>
    
{% endblock %}