{% extends "base.html" %}
{% block conteudo %}

<div class="conteudo">


    <table id="users" class="display">
        <thead>

            <tr>
                <th>email</th>
                <th>assunto</th>
                <th>descrição</th>
            </tr>

        </thead>

        {% for user in userDetails %}

        <tbody>
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
            </tr>
        </tbody>

        {% endfor %}

        <tbody>
            <tr>
                <td>Pedro</td>
                <td>Flask</td>
                <td>HTML</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
